<div class="wrapper mt-5 mb-5">
  <div class="project">
    <div class="shop">

      <div class="mb-3">
        <div style="background: #76bfb6">
          <span class="btn w-100 p-3 text-left h2 text-light font-weight-bold"><i class="fa-solid fa-cart-shopping px-3"></i>Giỏ Hàng</span>
        </div>
      </div>

      <div class="box mb-3">
        <img src="../../../../assets/img/shop_01.jpg" height="1000" width="1000"/>
        <div class="content">
          <h3>ADIZERO PRIME X</h3>
          <h4>2.500.000 VNĐ</h4>
          <p class="unit">Số Lượng: <input name="" value="1"></p>
          <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Xóa</span></p>
        </div>
      </div>


      <div class="box mb-3">
        <img src="../../../../assets/img/shop_02.jpg" height="1000" width="1000"/>
        <div class="content">
          <h3>STAN SMITH</h3>
          <h4>3.500.000 VNĐ</h4>
          <p class="unit">Số Lượng: <input name="" value="2"></p>
          <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Xóa</span></p>
        </div>
      </div>
      <div class="box">
        <img src="../../../../assets/img/shop_03.jpg" height="1000" width="1000"/>
        <div class="content">
          <h3>SUPERSTAR</h3>
          <h4>4.500.000 VNĐ</h4>
          <p class="unit">Số Lượng: <input name="" value="1"></p>
          <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Xóa</span></p>
        </div>
      </div>
    </div>
    <div class="right-bar">
      <p><span>Thanh Toán </span> <span>1.000.000.000 VNĐ</span></p>
      <hr>
      <p><span>Thuế (10%)</span> <span>10.000 VNĐ</span></p>
      <hr>
      <p><span>Phí Giao Hàng</span> <span>49.000 VNĐ</span></p>
      <hr>
      <p><span>Tổng</span> <span>500.000 VNĐ</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Thanh Toán</a>
    </div>
  </div>
</div>
