<div class="container mt-5">
  <form *ngIf="rfLogin" [formGroup]="rfLogin" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <div *ngIf="rfLogin.controls['username'].hasError('required') &&
                rfLogin.controls['username'].touched" class="col-12">
        <p style="color: red; margin-left: 15px">Vui lòng nhập tên đăng nhập</p>
      </div>

      <div *ngIf="rfLogin.controls['username'].hasError('minlength') &&
                rfLogin.controls['username'].touched" class="col-12">
        <p style="color: red; margin-left: 15px">Tên đăng nhập tối thiểu chứa 4 ký tự</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">

      <div *ngIf="rfLogin.controls['password'].hasError('required') &&
                rfLogin.controls['password'].touched" class="col-12">
        <p style="color: red; margin-left: 15px">Vui lòng nhập mật khẩu</p>
      </div>

      <div *ngIf="rfLogin.controls['password'].hasError('minlength') &&
                rfLogin.controls['password'].touched" class="col-12">
        <p style="color: red; margin-left: 15px">Mật khẩu tối thiểu chứa 5 ký tự</p>
      </div>
    </div>
    <div class="mb-3 form-check">
      <input formControlName="rememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

</div>
